<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <h1 class = "display-2"> Pokemon Wiki For Trainers</h1>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Pokemon Database", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/">Home</a>
        </li>

        <li class="nav-item">
          <a href="/about">About</a>
        </li>
      </ul>
      <%= form_with(url:search_pokemon_index_path, method: :get, local: true) do %>
        <%= text_field_tag(:keywords, nil, class: "input", placeholder: 'Search for Pokemon') %>
        <%= submit_tag("Search", class: "button is-primary") %>
      <% end %>
    </div>
  </div>
</nav>
    <%= yield %>
  </body>
  <footer class="bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023 By Friends With The Benefits Group</p>
      </div>
      <div class="col-md-6 text-md-right">
        <a href="#" class="ml-auto">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
</html>
